doctype html
html(lang="en")
	head
		include includes/head.pug
		link(rel="stylesheet" href="/_/static/css/bulma.min.css")
	body
		section.hero.is-danger.is-fullheight
			div.hero-body
				div.container
					h1(class=["title"]) 404 — Not Found
					h2(class=["subtitle"]) The page you were looking for is not here (#{path}).