doctype html
html(lang="en")
	head
		title= "nightblue3 — Plays"
		include includes/head.pug
		link(rel="stylesheet" href="/_/static/css/bulma.min.css")
		link(rel="stylesheet" href="/_/static/css/plays.min.css")
		script(src="/_/static/js/mithril.min.js")
		script(src="/_/static/js/plays.min.js")
	body