doctype html
html(lang="en")
	head
		title= "nightblue3 — XP Leaderboard"
		include includes/head.pug
		link(rel="stylesheet" href="/_/static/css/bulma.min.css")
	body
		section.hero.is-light.is-fullheight
			div.hero-body
				div.container
					table.table.is-striped.is-bordered
						thead
							tr
								th User
								th XP
						tbody
							each user, i in data
								tr
									th
										a(href=user.profile, target="_blank") #{user.username}
									th #{user.xp}