    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© EDM Spot 2018 <a href="#" class="back-to-top" style="text-align:center"><i class="fas fa-fw fa-arrow-alt-circle-up"></i></a></p></footer>
    </div>
    <div class="modal fade bd-example-modal-lg" id="flyerModal" tabindex="-1" role="dialog" aria-labelledby="flyerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img src="https://cdn.discordapp.com/attachments/485173519911747614/519279738196459520/HolidayParty.png">
        </div>
      </div>
    </div>
  </body>
</html>