    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© EDM Spot 2018 <a href="#" class="back-to-top" style="text-align:center"><i class="fas fa-fw fa-arrow-alt-circle-up"></i></a></p></footer>
    </div>
  </body>
</html>