#user-rollover {
    &.id-USERID { 
        .meta {
            height: 200px !important;
        }
    }
}

#chat {
    .cm.message[data-cid^="%%USERID%%"] {
        .msg .from .un {
            background-image: url('%%ICONS%%');
            background-repeat: no-repeat;
            background-position: 0px center;
            top: 2px;
            z-index: 0;
            width: 15px;
            height: 15px;
            position: relative;
            padding-left: %%PADDINGL%%;
        }
    }
}

#user-rollover {
    &.id-USERID {
        .meta:before {
            content: url('%%ICONSV%%');
            top: 140px;
            left: 109px;
            position: absolute;
        }
    }
}

#user-rollover {
    &.id-USERID {
        .meta:after {
            content: '%%CONTENT%%';
            white-space: pre-wrap;
            color: #808691;
            position: absolute;
            top: 140px;
            left: 130px;
        }
    }
}
