.role-icon {
	display: inline-block;
	height: 25px;
	width: 25px;

	&.icon-1000 {background: url(/_/static/images/rdj.png)}
	&.icon-2000 {background: url(/_/static/images/bouncer.png)}
	&.icon-3000 {background: url(/_/static/images/manager.png)}
	&.icon-4000, &.icon-5000 {background: url(/_/static/images/host.png)}
}

.table {
	.is-bordered tr.role {
		border: 1px solid #dbdbdb;

		td {
			border: none;
		}
	}

	thead th {
		font-weight: 700;
	}

	th {
		font-weight: 400;
	}
}

h1.title {
	margin: 10px;
	display: inline
}