head.pugmeta(property="og:title" content="plugdj.info")
meta(property="og:image" content="/_/static/images/bg.png")
meta(property="twitter:card" content="summary_large_image")
meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
meta(name="msapplication-TileColor", content="#2b5797")
meta(name="msapplication-TileImage", content="/mstile-144x144.png?v=gAEn8ard6w")
meta(name="theme-color", content="#212121")
link(rel="icon" href="data:image/webp;base64,UklGRl4BAABXRUJQVlA4TFEBAAAvD8ADEHfhqLZttblBAZEQdZkxMzMnnbGBSqqEzrgVwiiSJEW1vN99wrGM82+DyQMHm8i2nZz/qi/hi6BFRsYCZjDB4OAnEcQKFbSUeRQ2kpQG9wV3KIAAcOnHfA1d3U02Cl2mBMrZXwfzHFIXW25+F/5KXDt7+yMDSC6KJgR7MKlJdT9sYtQZd3049xqplihWnZV5illqc5un4GKbm7vbD0iAmRVl9HanWVEqIAMKIAAS4AEmIOZrrC/5kxQZJMJDnvzFBYEAh5Ekq8p+d3f/yNcD8o/vWRFCRP8Vtm3bMEn3+AMs4nk7tjWGGPqbxHibvKyd6FXH9ZNotxn2QQkeOfsFKIlyiBET1ZjpATketGKjXqGlDQeVCjkdTKGQcncBQwOgGUhv5uM758gMZ+B+ODc8F2Y6I/sv20+PJIn23WB6aC7B1cGzwCK7Bn7kqvgKAA==" type="image/png")
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=gAEn8ard6w")
link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=gAEn8ard6w")
link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=gAEn8ard6w")
link(rel="manifest", href="/manifest.json?v=gAEn8ard6w")
link(rel="mask-icon", href="/safari-pinned-tab.svg?v=gAEn8ard6w", color="#42a5dc")
link(rel="shortcut icon", href="/favicon.ico?v=gAEn8ard6w")