/* Christmas 2018 Event */

/* 13585808 - Mrcl- */
#user-rollover.id-13585808 .meta{
    height: 166px !important;
}

[data-cid^="13585808"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-13585808 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-13585808 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 4093788 - Laquett */
#user-rollover.id-4093788 .meta{
    height: 166px !important;
}

[data-cid^="4093788"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-4093788 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-4093788 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 4473380 - Chiven */
#user-rollover.id-4473380 .meta{
    height: 166px !important;
}

[data-cid^="4473380"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-4473380 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-4473380 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 34187258 - 𝙵𝚛𝚘𝚜𝚝𝚀𝚞𝚎𝚎𝚗 */
#user-rollover.id-34187258 .meta{
    height: 166px !important;
}

[data-cid^="34187258"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-34187258 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-34187258 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 23408147 - Brilashy */
#user-rollover.id-23408147 .meta{
    height: 166px !important;
}

[data-cid^="23408147"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-23408147 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-23408147 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 4070111 - Amibе */
#user-rollover.id-4070111 .meta{
    height: 166px !important;
}

[data-cid^="4070111"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-4070111 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-4070111 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 8203880 - dukc */
#user-rollover.id-8203880 .meta{
    height: 166px !important;
}

[data-cid^="8203880"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-8203880 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-8203880 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 21703169 - Dakwar */
#user-rollover.id-21703169 .meta{
    height: 166px !important;
}

[data-cid^="21703169"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-21703169 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-21703169 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* 5220843 - Imanσlix */
#user-rollover.id-5220843 .meta{
    height: 166px !important;
}

[data-cid^="5220843"] .msg .from .un {
    background-image: url("https://edmspot.tk/public/images/events/xmas2018.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-5220843 .meta:before{
    content: url("https://edmspot.tk/public/images/events/xmas2018.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-5220843 .meta:after{
    content: 'Christmas Event 2018';
    color: #b9290f;
    position: absolute;
    top: 140px;
    left: 130px;
}