/* Producers */

/* 3963829 - Nicky Miles */
#user-rollover.id-3963829 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="3963829"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-3963829 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-3963829 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-3963829 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 28621399 - BingOhh */
#user-rollover.id-28621399 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="28621399"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-28621399 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-28621399 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-28621399 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 32764568 - D-Sire */
#user-rollover.id-32764568 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="32764568"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-32764568 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-32764568 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-32764568 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 43855723 - gerald ryker */
#user-rollover.id-32764568 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="43855723"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-43855723 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-43855723 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-43855723 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 3945770 - MindlessFate */
#user-rollover.id-3945770 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="3945770"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-3945770 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-3945770 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-3945770 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 4410240 - tangeruse X */
#user-rollover.id-4410240 .meta{
    height: 166px !important;
}

#chat .cm.message[data-cid^="4410240"] .msg .from .un {
    background-image: url("https://edm-spot.github.io/icons/producer.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 14px auto;
    top: 2px;
    z-index: 0;
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 19px;
}

#user-rollover.id-4410240 .meta:before{
    content: url("https://edm-spot.github.io/icons/producer.png");
    top: 140px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-4410240 .meta:after{
    content: 'Verified Producer';
    color: #5740d0;
    position: absolute;
    top: 140px;
    left: 130px;
}

#chat-messages .rs-log-now-playing.id-4410240 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/icons/producerbadge.png") !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}