<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <h2>Frequently Asked Questions</h2>
  <hr />
  <h3><strong>What is Props?</strong></h3>
  <p>Props is our <strong>Community</strong> <strong>Currency&nbsp;</strong>used to join Games, use in the Props Shop
    and other Features.<br />You can give Props to songs you like with the command <strong>!props</strong>.</p>
  <p>The giving daily limit is 30 Props.</p>
  <h3><strong>What is the Discord Link System and how do I link it?</strong></h3>
  <p>&nbsp;You can Link your Plug Account with your Plug Account to be able to play the Discord Games, get the plug
    roles in Discord and Win Activity Points for the leaderboard.</p>
  <p>First you need to know your <strong>Plug ID</strong>. To find it out use the command <strong>!myid</strong> in the
    Plug Chat.<br />After you know your <strong>ID</strong> go to <strong>#bot-commands</strong> in Discord and use the
    command <strong>-link ID</strong></p>
  <p><strong>Warning:</strong> Do not use someone else ID.</p>
  <h3><strong>How do the Ranking System and Leaderboard Works?</strong></h3>
  <p>The Ranking System is based in your&nbsp;<strong>Activity Points</strong> which you earn using plug and Discord if
    you have your account linked.<br />The <strong>Activity Points&nbsp;</strong>is hidden and there's no way to know
    how many do you have.</p>
  <p>You earn Points based on the following activities:</p>
  <ul>
    <li>Chat on Plug and Discord. (commands or spam doesn't count)</li>
    <li>Playing Songs.</li>
    <li>Giving Props.</li>
  </ul>
  <p>You lose Points with:</p>
  <ul>
    <li>Getting Mehs.</li>
    <li>Ban, WL Ban, CMD Ban and Mutes. (This punishments have a <strong>Huge Effect</strong>)</li>
    <li>Days Offline. (This is <strong>Temporary</strong> and will have <strong>0</strong> Effect at the moment you
      Login. Mainly to prevents that the leaderboard gets stalled and give more opportunity to active users to rank up)
    </li>
  </ul>
  <h3><strong>How do I get Resident DJ?</strong></h3>
  <p>There's only a few Requirements to get RDJ:</p>
  <ul>
    <li>Been in the Room for <strong>1 Month</strong>.</li>
    <li>Have Played 150 Songs</li>
    <li>Reach a certain number of <strong>Activity Points </strong>(Hidden)</li>
  </ul>
  <p>You'll lose the RDJ Role if your <strong>Activity Points</strong> drops below a certain number.</p>
  <h3><strong>What I can buy in the Props Shop?</strong></h3>
  <p>For now you can only buy Custom <strong>Badges</strong>.</p>
  <p>To buy a Badge you can use the command&nbsp;<strong>!buy badge URL<br /></strong>You can also Gift to someone with
    the command&nbsp;<strong>!buy gift badge URL @USER</strong></p>
  <ul>
    <li>It costs 100 Props.</li>
    <li>Only RDJ+ can use gifs as badge.</li>
    <li>The Image Extension needs to be jpg, png or gif.</li>
    <li>The Image Size needs to be 65x65 px.</li>
    <li>NSFW will <strong>NOT</strong> be tolerated</li>
  </ul>
  <h3><strong>Can I Play Songs Over 6 Minutes and 30 Seconds?</strong></h3>
  <p>You can but will cost you <strong>1 Prop each Extra 3 Seconds.</strong></p>
  <p>The Max Limit is 10 Minutes.</p>
  <h3><strong>What Games the Community have?</strong></h3>
  <p>In Plug we have:</p>
  <p><strong>Lottery<br /></strong>Lottery will automatically run randomly between 1-3 hours, and choose someone that
    has been recently active in chat to offer a move to spot 5 in the queue! You will have 3 minutes to accept the
    position, before it is given to another recently active person at random. <br />It will not run when the queue is
    under 10 people.<strong><br /></strong></p>
  <p><strong>Roulette and Russian Roulette<br /></strong>Needs to be started by the Staff and it Costs 1 Prop. It's Free
    on weekends.</p>
  <p>In Discord we have:</p>
  <p><strong>Trivia<br /></strong>Users will be able to start Trivia by paying with props in channel
    <strong>#bot-commands</strong>. Use <strong><code>-triviapay 1-3</code></strong> to give props to start a Trivia.
    Once it gets 10 Props the Trivia will start.<br />Same user can give multiple props if they want to.<br />If you
    give props you will be automatically joined when the trivia starts.<br />The Winner will be moved to position 3.</p>
  <p><strong>Poker<br /></strong>WIP</p>
  <p><strong>Slot Machine<br /></strong>Bet your props in the Slots Machine with the command
    <strong><code>-slots 1-20</code></strong>.</p>
</div>
<% include ./blocks/footer %>