<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1>EDM Spot</h1>
      <h4><% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>No description given.<% }%></h4>
      <br>
      <p><a class="btn btn-primary" href="/plugCommands" role="button">Plug Command Help »</a></p>
      <p><a class="btn btn-primary" href="/commands" role="button">Discord Command Help »</a></p>
    </div>
  </div>
<% include ./blocks/footer %>