<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <p>These are the rules and guidelines for the EDM Spot Plug.dj room.</p>
  <p>Rules may be changed at any time. Ignorance doesn't protect from enforcement of the rules.</p>
  <br>
  <p>Song Rules:</p>
  <p>The staff will skip songs at their own discretion following these rules. </p>
  <p>A song must follow all rules to be acceptable. </p>
  <p>That means Nightcore and AMVs have to be in-genre! With exception for very Chill songs. </p>
  <br>
  <p>● Genres: EDM and Chill </p>
  <p>● Bass-Boosted and Nightcore songs will be skipped - Please use a normal version of the song. </p>
  <p>○ Songs with bass added are not an issue. Songs that require the volume to be adjusted to hear the </p>
  <p>song normally, are. </p>
  <p>● Acceptable Languages: English or Japanese </p>
  <p> ○ foreign songs, not in English or Japanese, may result in an immediate ban with no warning. </p>
  <p>(samples and snippets of other languages are fine, if you have a song in question, please ask staff before
    playing) </p>
  <p>● AMVs (Anime Music Videos) are allowed. </p>
  <p>● Ear rape/jumpscare songs are not allowed and will result in a permanent ban. </p>
  <p>● NSFW songs are not allowed. This applies to the video and the lyrics of the song, and includes racism, hate </p>
  <p>speech, acts of violence or overtly graphic sexual content. </p>
  <p>● Politics and Religion: Songs mustn't address politics or religion. </p>
  <p>● Song history: Songs mustn't play again within 6 hours. This applies to different remixes as well. </p>
  <p>● Song length mustn't be longer than 6 minutes and 30 seconds. </p>
  <p>● Intros and outros within videos are fine if they: </p>
  <p> ○ Have music that complies with the other rules </p>
  <p> ○ No advertising of any kind (this includes personal channels, and other plug.dj rooms) </p>
  <p> ○ Aren't longer than 10-15 seconds </p>
  <p>● Songs have to be of a certain audio quality. Videos of live performances with bad quality are not allowed. </p>
  <p>● Troll songs are NOT allowed </p>
  <p>Song skipping </p>
  <p>● Songs that don't comply with the song rules will be skipped. </p>
  <p>● You will not get your spot back if your song is skipped. </p>
  <p>● Individual punishments for not following the rules may be issued. </p>
  <p>● Don't ask for skips in chat. </p>
  <p>● Songs that reach a certain "Meh" threshold of 6% of online community will be skipped. Hardcore and Hardstyle </p>
  <p>songs will be subject to a 4% threshold, so that we can avoid the harder or classic styles of these subgenres. </p>
  <br>
  <br>
  <p>Do Not: </p>
  <p>Please refrain from doing any of the following: </p>
  <p>● Queuing a song that does not comply with the song rules. </p>
  <p>● Asking for skips. </p>
  <p>● Saying negative things about a song(s), or genre. </p>
  <p>● Chatting in a language other than English. (This is a rule we give little tolerance to) </p>
  <p>● Spamming. This includes emote and image spam. (Spam does not need to be multiple lines) </p>
  <p>● Using too many CAPS. </p>
  <p>● Asking for others to Meh a song. </p>
  <p>● Asking for other to give your song props. </p>
  <p>● Discussing politics or religion. </p>
  <p>● Asking for personal information. </p>
  <p>● Impersonating other users or bots. </p>
  <p>● Harassing/disrespecting other users. </p>
  <p>● Using automated text bots or scripts. </p>
  <p>● Baiting or encouraging other users into breaking rules. </p>
  <p>● Advertising another Plug.DJ community. </p>
  <p>● Advertising other music sites. </p>
  <p>● Using multiple accounts to gain advantages. (playing more songs, giving multiple props) </p>
  <p>● Using Meh on every song. </p>
  <p>● Playing same small playlist over and over. (to avoid same songs being played all the time) </p>
  <p>Producers and Promoters </p>
  <p>● Producers playing their own music are not allowed. (This includes if the person playing the song had any part
    of </p>
  <p>the creation of the song) Promoters that uploaded music produced by other artists (not yourself) are allowed to </p>
  <p>play from your channel, however: </p>
  <p> ○ Promoted music below a certain quality threshold will be skipped. </p>
  <p>○ Advertising your channel or account is not allowed. Doing so will result in a warning and in a ban </p>
  <p>on further violations. </p>
  <br>
  <br>
  <p>Community Guidelines: </p>
  <p>● These guidelines apply to the chat and usernames within the EDMSpot Plug.DJ room. Individual punishments </p>
  <p>for not following the guidelines may be issued. The staff has explicit discretion to apply their judgement on this
    as </p>
  <p>they see fit. </p>
  <br>
  <p>We're here to have fun within the community and listen to music together. We're not here to argue over rules or
    to </p>
  <p>find loopholes in them. Where rules do not prevail, common sense shall. Staff members have the power to issue </p>
  <p>warnings for something even if it's not explicitly included in the rules. Ignoring warnings may result in a mute
    or </p>
  <p>ban. </p>
  <br>
  <br>
  <p>SFW Policy:  </p>
  <p>We want to keep our community SFW (Safe For Work). So songs, their thumbnails, chat messages, and user </p>
  <p>profiles deemed NSFW (Not Safe For Work) are not allowed! </p>
  <br>
  <p>NSFW: Content that includes anyone or anything actively involved in a sexual manner in a video. For example, </p>
  <p>men/women indecently exposed with garments less than normal outside bikinis or swimming accessories, sexual </p>
  <p>harassment, hate speech (racial slurs, sexual slurs) or overtly violent and offensive videos showcasing someone </p>
  <p>or thing getting hurt or killed. </p>
  <br>
  <p>Banned NSFW channels: HentaiDude </p>
  <p>Breaking the SFW policy will likely result in a permanent ban from the community. </p>
  <br>
  <br>
  <p>Asking for skips: </p>
  <p>We use "Meh's" to skip songs </p>
  <p>So please don't ask for skips or a Meh in chat since it doesn't add any value to chat. Doing so will result in a </p>
  <p>warning, mute, or ban. </p>
  <br>
  <br>
  <p>Bad-mouthing songs: </p>
  <p>Please understand that we respect your opinion, but voicing a negative opinion about a song does not add </p>
  <p>anything of value to the chat. Please just Meh and mute the song if you do not like it. Doing otherwise will be </p>
  <p>considered spam in the chat and be treated as having asked for a skip. </p>
  <br>
  <br>
  <p>Arguing with staff: </p>
  <p>We understand that you may not agree with the “what or how”, but the staff are doing their job. While having a </p>
  <p>discussion is one thing, Arguing with the staff in chat or trash talking them will do no good. Please PM the
    staff </p>
  <p>member you have a disagreement with, and try to resolve the problem. If you have an issue with a staff member, </p>
  <p>please DM **Laquett** ( Laquett#1006 ) on discord. If you disrespect the staff, ignore warnings or request from </p>
  <p>staff, or are trying to disrupt the actions of the staff you will face punishment, regardless of your rank. </p>
  <br>
  <br>
  <p>Miscellaneous: </p>
  <p>● Linking other music sites or Plug.DJ rooms will result in a permanent ban. </p>
  <p>● Trying to evade a ban will result in all accounts being permanently banned. </p>
</div>
<% include ./blocks/footer %>