<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <p>These are the rules and guidelines for the ♪ EDM Spot ♪ Plug.dj room.</p>
  <p>Rules may be changed at any time. Ignorance doesn't protect from enforcement of the rules.</p>
  <hr />
  <h2 class="fr-text-bordered"><strong>Song Rules</strong></h2>
  <p>A song must follow all rules to be acceptable. That means AMVs have to be in-genre! With exception for very Chill
    songs.</p>
  <ul>
    <li>Genres: <strong>EDM</strong> and <strong>Chill.</strong></li>
    <li>Bass-Boosted and Nightcore songs <strong>will be skipped</strong> - Please use a normal version of the song.
      <ul>
        <li>Songs with bass added are not an issue. Songs that require the volume to be adjusted to hear the song
          normally, are.</li>
      </ul>
    </li>
    <li>Acceptable Languages: <strong>English or Japanese.</strong><br />
      <ul>
        <li>Samples and Snippets of other languages are fine. If you have a song in question, please ask staff before
          playing.</li>
      </ul>
    </li>
    <li>AMVs (Anime Music Videos) are <strong>allowed</strong>.</li>
    <li>Ear-Rape/Jumpscare songs are <strong>not allowed</strong>.</li>
    <li>Troll songs are <strong>not allowed</strong>.</li>
    <li>NSFW songs are <strong>not allowed</strong>.</li>
    <li>Politics and Religion: Songs mustn't address politics or religion.</li>
    <li>Intros and outros within videos are fine if they:
      <ul>
        <li>Have music that complies with the other rules</li>
        <li>No advertising of any kind (this includes personal channels, and other plug.dj rooms)</li>
        <li>Aren't longer than 10-15 seconds.</li>
      </ul>
    </li>
  </ul>
  <h4><strong>Song Skipping</strong></h4>
  <ul>
    <li>Songs that don't comply with the song rules will be skipped.</li>
    <li>Songs mustn't play again within 6 hours. This applies to different remixes as well.</li>
    <li>Songs Played 8 Times in 2 weeks will be considered Overplayed and will be skipped for 5 Days.</li>
    <li>Song length mustn't be longer than 6 minutes and 30 seconds.</li>
    <li>Songs that reach a certain "Meh" threshold of 6% of online community will be skipped. Hardcore and Hardstyle
      songs will be subject to a 4% threshold, so that we can avoid the harder or classic styles of these subgenres.
    </li>
    <li>Songs have to be of a certain audio quality. Videos of live performances with bad quality are not allowed.</li>
  </ul>
  <p>You will not get your spot back if your song is skipped unless is skipped for history or overplayed and you ask for
    it. In that case you can get the Spot 3.</p>
  <h4><strong>NSFW</strong></h4>
  <p>This applies to the video and the lyrics of the song, and includes racism, hate speech, acts of violence or overtly
    graphic sexual content.</p>
  <p>For example, men/women indecently exposed with garments less than normal outside bikinis or swimming accessories,
    sexual harassment, hate speech (racial slurs, sexual slurs) or overtly violent and offensive videos showcasing
    someone or thing getting hurt or killed.</p>
  <p>Banned NSFW channels: HentaiDude</p>
  <br>
  <hr />
  <br>
  <h2 class="fr-text-bordered"><strong>Do Not</strong></h2>
  <p>Please refrain from doing any of the following:</p>
  <ul>
    <li>Queuing a song that does not comply with the song rules.</li>
    <li>Asking for skips.</li>
    <li>Saying negative things about a song(s), or genre.</li>
    <li>Chatting in a language other than English.&nbsp;</li>
    <li>Spamming. This includes emote and image spam. (Spam does not need to be multiple lines)</li>
    <li>Using too many CAPS.</li>
    <li>Asking for others to Meh a song.</li>
    <li>Asking for other to give your song props.</li>
    <li>Discussing politics or religion.</li>
    <li>Asking for personal information.</li>
    <li>Impersonating other users or bots.</li>
    <li>Harassing/disrespecting other users.</li>
    <li>Using automated text bots or scripts.</li>
    <li>Baiting or encouraging other users into breaking rules.</li>
    <li>Advertising another Plug.DJ community.</li>
    <li>Advertising other music sites.</li>
    <li>Using multiple accounts to gain advantages. (playing more songs, giving multiple props)</li>
    <li>Using Meh on every song.</li>
    <li>Playing same small playlist over and over. (to avoid same songs being played all the time)</li>
  </ul>
  <br>
  <hr />
  <br>
  <h2><strong>Producers and Promoters</strong></h2>
  <p>Only Producers Verified by Staff are allowed to play their own music. (This includes if the person playing the song
    had any part of the creation of the song).</p>
  <ul>
    <li>Producers should play other songs than theirs if they can't comply with this DO NOT Rule:
      <ul>
        <li>Playing same small playlist over and over. (to avoid same songs being played all the time</li>
      </ul>
    </li>
    <li>Give and Take is important. Producers should be able to promote our room.
      <ul>
        <li>We'll check this from time to time. If you haven't done this recently at the check time the verified status
          will be removed.</li>
      </ul>
    </li>
    <li>If you play a song that doesn't follow the rules you will lose the verified status.</li>
    <li>If you are a producer you can apply here: http://tinyurl.com/edmspotproducersprogram</li>
  </ul>
  <p>Verified Producers with the <em><strong>@Verified Producer</strong></em> Role in our Discord are able to share
    their new releases in <strong>#music-releases</strong> mentioning the Role <em><strong>@MRM</strong></em></p>
  <p>Promoters that uploaded music produced by other artists (not yourself) are allowed to play from your channel,
    however:</p>
  <ul>
    <li>Promoted music below a certain quality threshold will be skipped.</li>
    <li>Advertising your channel or account is <strong>not allowed</strong>.</li>
  </ul>
  <br>
  <hr />
  <br>
  <h2 class="fr-text-bordered"><strong>Community Guidelines</strong></h2>
  <p>These guidelines apply to the chat and usernames within the EDMSpot Plug.DJ room.</p>
  <ul>
    <li>We're here to have fun within the community and listen to music together.</li>
    <li>We're not here to argue over rules or to find loopholes in them.</li>
    <li>Where rules do not prevail, common sense shall.</li>
    <li>We want to keep our community SFW (Safe For Work). So songs, their thumbnails, chat messages, and user profiles
      deemed NSFW (Not Safe For Work) are <strong>not allowed</strong>.</li>
  </ul>
  <h4><strong>Asking for skips</strong></h4>
  <p>We use "Meh's" to skip songs, so please don't ask for skips or a Meh in chat since it doesn't add any value to
    chat.</p>
  <br>
  <h4><strong>Bad-mouthing songs</strong></h4>
  <p>Please understand that we respect your opinion, but voicing a negative opinion about a song does not add anything
    of value to the chat.</p>
  <p>Please just Meh and mute the song if you do not like it. Doing otherwise will be considered spam in the chat and be
    treated as having asked for a skip.</p>
  <br>
  <h4><strong>Arguing with staff</strong></h4>
  <p>We understand that you may not agree with the &ldquo;what or how&rdquo;, but the staff are doing their job. While
    having a discussion is one thing, Arguing with the staff in chat or trash talking them will do no good. Please PM
    the staff member you have a disagreement with, and try to resolve the problem. If you have an issue with a staff
    member, please DM <strong>Laquett</strong> (Laquett#1006) on discord. If you disrespect the staff, ignore warnings
    or request from staff, or are trying to disrupt the actions of the staff you will face punishment, regardless of
    your rank.</p>
  <br>
  <hr />
  <br>
  <h2 class="fr-text-bordered"><strong>Miscellaneous</strong></h2>
  <ul>
    <li>If you don't agree with a punishment apply to you, you can go to Discord to discuss about it.</li>
    <li>Trying to evade a ban will result in all accounts being permanently banned.</li>
  </ul>
  <br>
  <hr />
  <br>
  <h2><strong>Staff</strong></h2>
  <ul>
    <li>Staff need to give the example. Breaking <strong>any</strong> of this or&nbsp;previous rules will result in a
      warning and demoted on further violation.</li>
    <li>Staff <strong>should not</strong> ban/mute other people for fun.</li>
    <li>Staff <strong>should not</strong> feed any toxic or arguing conversation.</li>
    <li>Staff <strong>should</strong> follow the following tables to punish someone breaking the rules.</li>
  </ul>
  <p>If you see anyone of the staff not complying with the rules please talk with a superior rank.</p>
  <h3><strong>Punishments</strong></h3>
  <h4>Chat Related</h4>
  <table dir="ltr" border="1" cellspacing="0" cellpadding="0">
    <colgroup>
      <col width="327" />
      <col width="199" />
      <col width="77" />
      <col width="95" />
      <col width="136" />
      <col width="130" />
      <col width="113" />
      <col width="542" />
    </colgroup>
    <tbody>
      <tr>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Rule&quot;}">Rule</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Requires Warning Before Action?&quot;}">Requires
          Warning Before Action?</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Action&quot;}">Action
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Time&quot;}">Time</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;On Repeat&quot;}">On
          Repeat</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Past Infraction&quot;}">If Past Infraction</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Afk&quot;}">If Afk
        </td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Additional Details&quot;}">Additional Details</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chat Spam&quot;}">Chat Spam</td>
        <td style="text-align: center;" colspan="1" rowspan="11"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Yes&quot;}">
          <div>Yes</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="11"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Mute&quot;}">
          <div>Mute</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="6"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;15 Minutes&quot;}">
          <div>15 Minutes</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban 1 Hour&quot;}">
          <div>Ban 1 Hour</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Perma Ban&quot;}">
          <div>Perma Ban</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="11"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Promoters Advertising Channel or Account&quot;}">
          Promoters Advertising Channel or Account</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Asking for Skips&quot;}">Asking for Skips</td>
        <td style="text-align: center;" colspan="1" rowspan="3"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Mute 45 Minutes&quot;}">
          <div>Mute 45 Minutes</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="3"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban 1 Hour&quot;}">
          <div>Ban 1 Hour</div>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Trash Talk Songs&quot;}">Trash Talk Songs</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Using automated text bots or scripts&quot;}">Using
          automated text bots or scripts</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Too many CAPS&quot;}">Too many CAPS</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Toxic Behavior&quot;}">Toxic Behavior</td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;45 Minutes&quot;}">
          <div>45 Minutes</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban 1 Day&quot;}">
          <div>Ban 1 Day</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Perma Ban&quot;}">
          <div>Perma Ban</div>
        </td>
        <td
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Includes others not mentioned \&quot;DO NOT\&quot; Rules&quot;}">
          Includes others not mentioned "DO NOT" Rules</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Asking for others to Meh a song&quot;}">Asking for
          others to Meh a song</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Baiting or encouraging other users into breaking rules&quot;}">
          Baiting or encouraging other users into breaking rules</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Arguing With Staff&quot;}">Arguing With Staff</td>
        <td
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;As warning, suggest moving to discord if User is arguing about a rule or punishment. Calmly&quot;}">
          As warning, suggest moving to discord if User is arguing about a rule or punishment. Calmly</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Hate Speech&quot;}">Hate Speech</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h4>Song Related</h4>
  <table dir="ltr" border="1" cellspacing="0" cellpadding="0">
    <colgroup>
      <col width="327" />
      <col width="199" />
      <col width="77" />
      <col width="95" />
      <col width="136" />
      <col width="130" />
      <col width="113" />
      <col width="542" />
    </colgroup>
    <tbody>
      <tr>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Rule&quot;}">Rule</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Requires Warning Before Action?&quot;}">Requires
          Warning Before Action?</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Action&quot;}">Action
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Time&quot;}">Time</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;On Repeat&quot;}">On
          Repeat</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Past Infraction&quot;}">If Past Infraction</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Afk&quot;}">If Afk
        </td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Additional Details&quot;}">Additional Details</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Playing Off Genre/Bass-Boosted Song&quot;}">Playing
          Off Genre/Bass-Boosted Song</td>
        <td style="text-align: center;" colspan="1" rowspan="7"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;No&quot;}">
          <div>No</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Skip&quot;}">
          <div>Skip</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="7"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Ban 1 Hour&quot;}">
          <div>Waitlist Ban 1 Hour</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Perma Ban&quot;}">
          <div>Waitlist Perma Ban</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="5"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Ban 1 Day&quot;}">
          <div>Waitlist Ban 1 Day</div>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Playing  Foreign Songs&quot;}">Playing Foreign Songs
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Playing Troll Songs&quot;}">Playing Troll Songs</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Playing NSFW Song&quot;}">Playing NSFW Song</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Self Promotion for non Verified Producers&quot;}">
          Self Promotion for non Verified Producers</td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Link Apply Form&quot;}">Link Apply Form</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Repeatly Playing Over Limit Songs&quot;}">Repeatly
          Playing Over Limit Songs</td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Perma Ban&quot;}">Waitlist Perma Ban</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Playing same small playlist over and over&quot;}">
          Playing same small playlist over and over</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Ban 1 Hour&quot;}">Waitlist Ban 1 Hour</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Perma Ban&quot;}">Waitlist Perma Ban</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Waitlist Ban 1 Day&quot;}">Waitlist Ban 1 Day</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3>Miscellaneous</h3>
  <table dir="ltr" border="1" cellspacing="0" cellpadding="0">
    <colgroup>
      <col width="327" />
      <col width="199" />
      <col width="77" />
      <col width="95" />
      <col width="136" />
      <col width="130" />
      <col width="113" />
      <col width="542" />
    </colgroup>
    <tbody>
      <tr>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Rule&quot;}">Rule</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Requires Warning Before Action?&quot;}">Requires
          Warning Before Action?</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Action&quot;}">Action
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Time&quot;}">Time</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;On Repeat&quot;}">On
          Repeat</td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Past Infraction&quot;}">If Past Infraction</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;If Afk&quot;}">If Afk
        </td>
        <td style="text-align: center;"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Additional Details&quot;}">Additional Details</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Spam gif/sodas/urban/catfact&quot;}">Spam
          gif/sodas/urban/catfact</td>
        <td style="text-align: center;" colspan="1" rowspan="4"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Yes&quot;}">
          <div>Yes</div>
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cmd Ban&quot;}">Cmd Ban
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1 Hour&quot;}">1 Hour
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cmd Ban 1 Day&quot;}">
          Cmd Ban 1 Day</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Cmd Perma Ban&quot;}">
          Cmd Perma Ban</td>
        <td style="text-align: center;" colspan="1" rowspan="4"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Treat as Chat Spam if user continue&quot;}">Treat as
          Chat Spam if user continue</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Meh Spam&quot;}">Meh Spam</td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="3"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban 1 Hour&quot;}">
          <div>Ban 1 Hour</div>
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban 1 Day&quot;}">Ban 1
          Day</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Using Meh on every song&quot;}">Using Meh on every
          song</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Perma Ban&quot;}">Perma
          Ban</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Advertising another Plug.DJ / Similar websites Communites&quot;}"
          data-sheets-numberformat="[null,3,&quot;0.00%&quot;,1]">Advertising another Plug.DJ / Similar websites
          Communites</td>
        <td style="text-align: center;" colspan="1" rowspan="3"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Perma Ban&quot;}">
          <div>Perma Ban</div>
        </td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td style="text-align: center;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">N/A</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Play Ear-Rape Song&quot;}"
          data-sheets-numberformat="[null,3,&quot;0.00%&quot;,1]">Play Ear-Rape Song</td>
        <td style="text-align: center;" colspan="1" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;No&quot;}">
          <div>No</div>
        </td>
        <td style="text-align: center;" colspan="4" rowspan="2"
          data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;N/A&quot;}">
          <div>N/A</div>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Ban Evading&quot;}">Ban Evading</td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Confirm with a BA or Site Mod First&quot;}">Confirm
          with a BA or Site Mod First</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p>If unsure what punishment you should follow, ask a Manager+ and give the lowest possible related Mute/waitlist ban/ban while wait for an anwser.</p>
</div>
<% include ./blocks/footer %>