<%- include('blocks/header', {bot, user, path}) %>
<div class="container">

  <p>These are the rules and guidelines for the ♪ EDM Spot ♪ Plug.dj room.</p>
  <p>Rules may be changed at any time. Ignorance doesn&#39;t protect from enforcement of the rules.</p>

  <br>

  <h3 class="fr-text-bordered"><strong>Song Rules:</strong></h3>
  <p>A song must follow all rules to be acceptable. That means AMVs have to be in-genre! With exception for very Chill
    songs.</p>
  <br>
  <p>● Genres: <strong>EDM</strong> and <strong>Chill</strong></p>
  <p>● Bass-Boosted and Nightcore songs will be skipped - Please use a normal version of the song.</p>
  <p style="margin-left: 20px;">○ Songs with bass added are not an issue. Songs that require the volume to be adjusted
    to hear the song normally, are.</p>

  <p>● Acceptable Languages: English or Japanese</p>

  <p style="margin-left: 20px;">&nbsp;○ Foreign songs, not in English or Japanese, may result in an immediate ban with
    no warning.(samples and snippets of other languages are fine, if you have a song in question, please ask staff
    before playing)</p>

  <p>● AMVs (Anime Music Videos) are allowed.</p>

  <p>● Ear rape/jumpscare songs are not allowed and will result in a permanent ban.</p>

  <p>● NSFW songs are not allowed. This applies to the video and the lyrics of the song, and includes racism, hate
    speech, acts of violence or overtly graphic sexual content.</p>

  <p>● Politics and Religion: Songs mustn&#39;t address politics or religion.</p>

  <p>● Song history: Songs mustn&#39;t play again within 6 hours. This applies to different remixes as well.</p>

  <p style="margin-left: 20px;">○ Songs Played 8 Times in 2 weeks will be considered Overplayed and will be skipped for 5 Days</p>

  <p>● Song length mustn&#39;t be longer than 6 minutes and 30 seconds.</p>

  <p>● Intros and outros within videos are fine if they:</p>

  <p style="margin-left: 20px;">○ Have music that complies with the other rules</p>

  <p style="margin-left: 20px;">○ No advertising of any kind (this includes personal channels, and other plug.dj rooms)</p>

  <p style="margin-left: 20px;">○ Aren&#39;t longer than 10-15 seconds</p>

  <p>● Songs have to be of a certain audio quality. Videos of live performances with bad quality are not allowed.</p>

  <p>● Troll songs are NOT allowed.</p>

  <p>
    <br>
  </p>

  <p><strong>Song skipping</strong></p>

  <p>● Songs that don&#39;t comply with the song rules will be skipped.</p>

  <p>● You will not get your spot back if your song is skipped unless is skipped for history or overplayed and you are not AFK.</p>

  <p>● Individual punishments for not following the rules may be issued.</p>

  <p>● Don&#39;t ask for skips in chat.</p>

  <p>● Songs that reach a certain &quot;Meh&quot; threshold of 6% of online community will be skipped. Hardcore and
    Hardstyle songs will be subject to a 4% threshold, so that we can avoid the harder or classic styles of these
    subgenres.</p>
</div>
<div class="container">
  <br>
</div>
<div class="container">
  <br>

  <h3 class="fr-text-bordered"><strong>Do Not:</strong></h3>

  <p>Please refrain from doing any of the following:</p>

  <p>● Queuing a song that does not comply with the song rules.</p>

  <p>● Asking for skips.</p>

  <p>● Saying negative things about a song(s), or genre.</p>

  <p>● Chatting in a language other than English. (This is a rule we give little tolerance to)</p>

  <p>● Spamming. This includes emote and image spam. (Spam does not need to be multiple lines)</p>

  <p>● Using too many CAPS.</p>

  <p>● Asking for others to Meh a song.</p>

  <p>● Asking for other to give your song props.</p>

  <p>● Discussing politics or religion.</p>

  <p>● Asking for personal information.</p>

  <p>● Impersonating other users or bots.</p>

  <p>● Harassing/disrespecting other users.</p>

  <p>● Using automated text bots or scripts.</p>

  <p>● Baiting or encouraging other users into breaking rules.</p>

  <p>● Advertising another Plug.DJ community.</p>

  <p>● Advertising other music sites.</p>

  <p>● Using multiple accounts to gain advantages. (playing more songs, giving multiple props)</p>

  <p>● Using Meh on every song.</p>

  <p>● Playing same small playlist over and over. (to avoid same songs being played all the time)</p>

  <p>
    <br>
  </p>

  <p><strong>Producers and Promoters</strong></p>

  <p>● Only Producers Verified by Staff are allowed to play their own music. (This includes if the person playing the song had any part of
    the creation of the song)</p>

    <p style="margin-left: 20px;">○ Producers should play other songs than theirs if they can't comply with this DO NOT Rule:</p>
    <p style="margin-left: 40px;">○ Playing same small playlist over and over. (to avoid same songs being played all the time)</p>
    <p style="margin-left: 20px;">○ Give and Take is important. Producers should be able to promote our room.</p>
    <p style="margin-left: 40px;">○ We'll check this from time to time. If you haven't done this recently at the check time the verified status will be removed.</p>
    <p style="margin-left: 20px;">○ If you play a song that doesn't follow the rules you will lose the verified status.</p>
    <p style="margin-left: 20px;">○ If you are a producer you can apply here: http://tinyurl.com/edmspotproducersprogram</p>

  <p>● Promoters that uploaded music produced by other artists (not yourself) are allowed to play from your channel,
    however:</p>

  <p style="margin-left: 20px;">&nbsp;○ Promoted music below a certain quality threshold will be skipped.</p>

  <p style="margin-left: 20px;">○ Advertising your channel or account is not allowed. Doing so will result in a warning
    and in a ban on further violations.</p>
  <br>
  <br>

  <h3 class="fr-text-bordered"><strong>Community Guidelines:</strong></h3>

  <p>These guidelines apply to the chat and usernames within the EDMSpot Plug.DJ room.</p>

  <p>● We&#39;re here to have fun within the community and listen to music together.</p>

  <p>● We&#39;re not here to argue over rules or to find loopholes in them.</p>

  <p>● Where rules do not prevail, common sense shall.</p>

  <p>
    <br>
  </p>

  <p><strong>SFW Policy:&nbsp;</strong></p>

  <p>We want to keep our community SFW (Safe For Work). So songs, their thumbnails, chat messages, and user profiles
    deemed NSFW (Not Safe For Work) are not allowed!&nbsp;</p>

  <p>
    <br>
  </p>

  <p><strong>NSFW:</strong></p>

  <p>Content that includes anyone or anything actively involved in a sexual manner in a video.&nbsp;</p>

  <p>For example, men/women indecently exposed with garments less than normal outside bikinis or swimming accessories,
    sexual harassment, hate speech (racial slurs, sexual slurs) or overtly violent and offensive videos showcasing
    someone or thing getting hurt or killed.</p>

  <p>
    <br>
  </p>

  <p>Banned NSFW channels: HentaiDude</p>

  <p>Breaking the SFW policy will likely result in a permanent ban from the community.</p>

  <p>
    <br>
  </p>

  <p><strong>Asking for skips:</strong></p>

  <p>We use &quot;Meh&#39;s&quot; to skip songs, so please don&#39;t ask for skips or a Meh in chat since it
    doesn&#39;t add any value to chat.</p>

  <p>Doing so will result in a warning, mute, or ban.</p>

  <p>
    <br>
  </p>

  <p><strong>Bad-mouthing songs:</strong></p>

  <p>Please understand that we respect your opinion, but voicing a negative opinion about a song does not add anything
    of value to the chat. Please just Meh and mute the song if you do not like it. Doing otherwise will be considered
    spam in the chat and be treated as having asked for a skip.</p>

  <p>
    <br>
  </p>

  <p><strong>Arguing with staff:</strong></p>

  <p>We understand that you may not agree with the &ldquo;what or how&rdquo;, but the staff are doing their job. While
    having a discussion is one thing, Arguing with the staff in chat or trash talking them will do no good. Please PM
    the staff member you have a disagreement with, and try to resolve the problem. If you have an issue with a staff
    member, please DM **Laquett** ( Laquett#1006 ) on discord. If you disrespect the staff, ignore warnings or request
    from staff, or are trying to disrupt the actions of the staff you will face punishment, regardless of your rank.</p>
</div>
<div class="container">
  <br>
</div>
<div class="container">
  <br>

  <h3 class="fr-text-bordered"><strong>Miscellaneous:</strong></h3>

  <p>● Linking other music sites or Plug.DJ rooms will result in a permanent ban.</p>

  <p>● Trying to evade a ban will result in all accounts being permanently banned.</p>
</div>
<% include ./blocks/footer %>